/********************************************************/
/*                 CUSTOMIZED DEFAULTS                  */
/********************************************************/


$primary: #936fac;
$btn-link-color: rgb(255, 255, 255);

$display-font-sizes: (
  1: 5rem,
  2: 3rem,
  3: 4rem,
  4: 3.5rem,
  5: 1.8rem,
  6: 1.3rem
);

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
